# Mod 3 SQL Code Challenges

##### Ordered by progression of comlexity/difficulty (each block is 15-20 minutes worth of work)

##### Subqueries
https://www.hackerrank.com/challenges/weather-observation-station-15/problem

In [ ]:
'''Select ROUND(LONG_W,4) from STATION WHERE LAT_N = (SELECT MAX(LAT_N) FROM STATION WHERE LAT_N<137.2345)'''

https://www.hackerrank.com/challenges/the-pads/problem

In [ ]:
'''SELECT concat(name,'(', left(Occupation,1), ')') FROM Occupations order by name;
SELECT Concat('There are a total of ', count(*), ' ', lower(Occupation), 's.') from Occupations group by Occupation order by count(*), occupation
'''